on:
  push:
    branches-ignore:
      - 'master'

jobs:
  ci_trigger:
    runs-on: ubuntu-latest
    name: Impersonated CI Trigger
    steps:
      - name: Trigger
        id: trigger
        uses: adobe-rnd/github-touch-action@master
        with:
          repo-token: ${{ secrets.MY_GITHUB_TOKEN }}
          user: renovate-bot
